@font-face {
    font-family: "legend";
    src: local("legend"),
        url('../assets-fonts/Lexend-VariableFont_wght.ttf') format("truetype");
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}

root {
    margin: 0;
    padding: 0;
}